<form action="/form" method="post">  
  <input type="text" name="first">  
  <input type="text" name="last">  
  <input type="text" name="copay">  
  <input type="text" name="effective">  
  <input type="submit">  
</form>
